<accordion close-others="false">
    <accordion-group loading ng-class="{true: method.method}[true]" id="{{method._id}}" ng-repeat="method in endpoint.methods | limitTo:8" is-open="status.open">
        <accordion-heading class="clearfix" style="padding-top: 7.5px;">
            <a href="">
                <span class="method" ng-class="{true: method.method}[true]">{{method.method}}</span>
                <span class="route">{{method.URI}}</span>
                <span class="pull-right trigger-collapse"><i class="fa fa-angle-down" ng-class="{'open': status.open}"></i></span>
            </a>
        </accordion-heading>
        <div class="row">
            <div class="col-md-12">
                <tabset ng-model="mytabs">
                    <tab>
                        <tab-heading>
                            <i class="fa fa-gears"></i> Setup
                        </tab-heading>
                        <form name="form" class="form-horizontal" ng-submit="updateMethod(method, $index)">

                            <div class="form-group">
                                <label for="route" class="col-lg-2 control-label">Route</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="route" placeholder="Route" ng-model="method.URI" required ng-required="true" >
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-error': form.name.$invalid}">
                                <label for="proxy" class="col-lg-2 control-label">Proxy</label>
                                <div class="col-lg-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="checkbox" ng-model="method.proxy.enabled">
                                        </span>
                                        <input type="url" id="proxy" class="form-control" ng-model="method.proxy.URI" placeholder="proxy url (http / https)" ng-disabled="!method.proxy.enabled" ng-required="method.proxy.enabled">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="method" class="col-lg-2 control-label">Method</label>
                                <div class="col-lg-10">
                                    <label class="label-select">
                                        <span class="custom-dropdown">
                                            <select class="form-control custom-dropdown" id="method" ng-model="method.method" ng-options="methods.label as methods.label group by methods.group for methods in httpSettings.methods"></select>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <fieldset ng-disabled="method.proxy.enabled" ng-hide="method.proxy.enabled">
                                <div class="form-group">
                                    <label for="contentType" class="col-lg-2 control-label">Content type</label>
                                    <div class="col-lg-10">
                                        <label class="label-select">
                                            <!-- select class="" ng-init="method.response.contentType = httpSettings.contentTypes[method.produces].id" ng-model="method.produces.contentType" ng-options="contentTypes.id as contentTypes.label group by contentTypes.group for contentTypes in httpSettings.contentTypes"></select -->
                                            <!-- select ui-select2="" style="width:340px" class="col-lg-2" ng-model="method.response.contentType" ng-options="contentTypes.label as contentTypes.label group by contentTypes.group for contentTypes in httpSettings.contentTypes"></select -->
                                            <span class="custom-dropdown">
                                                <select class="form-control custom-dropdown" id="contentType" ng-model="method.response.contentType" ng-options="contentTypes.label as contentTypes.label group by contentTypes.group for contentTypes in httpSettings.contentTypes">
                                                    <option></option>
                                                </select>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <!-- CUSTOM HEADERS -->
                                <div class="form-group">
                                    <label for="inputPassword1" class="col-lg-2 control-label">headers</label>
                                    <div class="col-lg-10">
                                        <div class="row" ng-model="header">
                                            <div class="col-xs-4">
                                                <input type="text" class="form-control" placeholder="Key" ng-model="header.name" name="headerName">
                                                <span class="help-block" ng-show="form.headerName.$error.required">Required</span>
                                            </div>
                                            <div class="col-xs-7">
                                                <input type="text" class="form-control" placeholder="Value" ng-model="header.value">
                                            </div>
                                            <div class="col-xs-1">
                                                <div class="btn-group pull-right">
                                                    <button type="button" class="btn btn-default" ng-click="addHeader(method, header, $scope)"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" ng-repeat="header in method.response.headers">
                                            <div class="col-xs-4">
                                                <input type="text" class="form-control" placeholder="Key" ng-model="header.name">
                                            </div>
                                            <div class="col-xs-7">
                                                <input type="text" class="form-control" placeholder="Value" ng-model="header.value">
                                            </div>
                                            <div class="col-xs-1">
                                                <div class="btn-group pull-right">
                                                    <button type="button" class="btn btn-danger" ng-click="removeHeader(method, header, $index)"><i class="fa fa-times"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Headers -->
                                <div class="form-group">
                                    <label for="statusCode" class="col-lg-2 control-label">Status Code</label>
                                    <div class="col-lg-10">
                                        <label class="label-select">
                                            <span class="custom-dropdown">
                                                <select class="form-control custom-dropdown" id="statusCode" ng-model="method.response.statusCode" ng-options="status.id as status.label group by status.group for status in httpSettings.statuses"></select>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <!-- Response -->
                                <div class="form-group">
                                    <label for="inputPassword1" class="col-lg-2 control-label">Response Body</label>
                                    <div class="col-lg-10">
                                        <tabset>
                                            <tab>
                                                <tab-heading>
                                                    <i class="fa fa-cubes"></i> Body data
                                                </tab-heading>
                                                <div ui-ace="{mode: 'json', theme:'monokai'}" ng-model="method.response.body"></div>
                                            </tab>
                                            <tab disabled="method.response.contentType != 'application/json'">
                                                <tab-heading>
                                                    <i class="fa fa-code"></i> Schema
                                                </tab-heading>
                                                <div ui-ace="{mode: 'json', theme:'monokai'}" ng-model="method.response.validator.schema"></div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" ng-model="method.response.validator.enabled"> Enable
                                                    </label>
                                                </div>
                                            </tab>
                                        </tabset>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-default" ng-disabled="form.$pristine && !form.$invalid"><i class="fa fa-save"></i></button>
                                        <button class="btn btn-default" ng-click="removeMethod(method, $index)"><i class="fa fa-power-off"></i></button>
                                    </div>
                                    <button class="btn btn-danger pull-right" ng-click="deleteMethod(endpoint.methods, $index)" tooltip="Remove Method"><i class="fa fa-trash-o"></i> {{ 'REMOVE' | translate }}</button>
                                </div>
                            </div>
                        </form>
                    </tab>
                    <tab ng-controller="DemoCtrl as demo" select="myDemo = demo.create(method)">
                        <tab-heading>
                            <i class="fa fa-bolt"></i> Try
                        </tab-heading>
                        <div class="row">
                            <div class="col-md-12">
                                <div ui-ace="{mode: 'json', theme:'monokai'}" ng-model="myDemo"></div>
                            </div>
                            <div class="col-md-12">
                                <pre class="output">{{method.demoResponse}}</pre>
                            </div>
                            <div class="col-md-12">
                                <div class="toolbar well well-sm">
                                    <div class="btn-toolbar" role="toolbar">
                                        <div class="btn-group">
                                            <button class="btn btn-primary" ng-click="demo.play(myDemo)"><i class="fa fa-play"></i></button>
                                            <button class="btn btn-primary" ng-click="removeMethod($index, $index)"><i class="fa fa-circle"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </tab>
                    <tab ng-controller="LogsCtrl as logs" ng-click="logs.init(method)">
                        <tab-heading>
                            <i class="fa fa-list-alt"></i> Logs
                        </tab-heading>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn-toolbar" role="toolbar">
                                    <div class="btn-group">
                                        <div class="btn-group">
                                            <button class="btn btn-default">
                                                <i class="fa fa-save"></i>
                                            </button>
                                            <button class="btn btn-default" ng-click="logs.deleteLogs()">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-2 pull-right master-search">
                                        <input type="text" name="search" autocomplete="off" id="searchLog" class="form-control" maxlength="200" placeholder="Search" name="searchLog">
                                        <span class="icon input-group-btn">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table log-table table-striped table-condensed table-hover table-fixed">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Query</th>
                                    <th class="text-center">IP</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-right">Latency (ms)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="log in logs.records" ng-class="details ? 'opened': 'closed'">
                                <tr>
                                    <td>{{log._source.date | date:'MM/dd/yy hh:mm a'}}</td>
                                    <td>
                                        <code>{{log._source.uri.search}}</code>
                                    </td>
                                    <td class="text-center">{{log._source.ip}}</td>
                                    <td class="text-center"><span class="label" ng-class="{'label-success': log._source.status < 300, 'label-warning': log._source.status >= 300 && log._source.status < 400, 'label-danger': log._source.status >= 400}">{{log._source.status}}</span></td>
                                    <td class="text-right">{{log._source.time}}</td>
                                    <td class="text-right">
                                        <button class="btn btn-xs btn-default" ng-click="details=!details"><i class="fa fa-angle-down"></i></button>
                                    </td>
                                </tr>
                                <tr ng-if="details">
                                    <td colspan="6" class="expandable">
                                        <table class="table log-table table-striped table-condensed table-hover table-fixed">
                                            <thead>
                                                <tr>
                                                    <!-- th ng-repeat="header in logs.keys(log._source)">{{header}}</th -->
                                                    <th class="col-sm-2">Field</th>
                                                    <th class="col-sm-1">Action</th>
                                                    <th class="col-sm-9">Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="field in logs.keys(log._source)">
                                                    <td>{{field}}</td>
                                                    <td>
                                                        <button class="btn btn-default btn-xs" ng-click="logs.viewResponse(log._source)"><i class="fa fa-fw fa-file-code-o"></i></button>
                                                        <button class="btn btn-default btn-xs" ng-click="logs.viewResponse(log._source)"><i class="fa fa-fw fa-floppy-o"></i></button>
                                                    </td>
                                                    <td>
                                                        <div style="display:block;width:100%;overflow-x: scroll;">
                                                            <code>{{log._source[field]}}</code>
                                                        <div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination ng-change="logs.pageChanged(logs.currentPage)" total-items="logs.totalItems" ng-model="logs.currentPage" max-size="logs.maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="logs.numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                    </tab>
                    <tab ng-controller="StatisticsCtrl as statistics" ng-click="statistics.init(method)" select="datePicker.show=true" deselect="datePicker.show=false"> <!-- ng-init=" = (metrics | filter:{_id: method._id})" -->
                        <tab-heading>
                            <i class="fa fa-bar-chart-o"></i> Status
                        </tab-heading>
                        <!-- AVAIL -->
                        <div class="row graph">
                            <div class="col-sm-3 legend">
                                <h2>APP SERVER AVAILABILITY</h2>
                                <span class="number" title="Updated about 14 seconds ago">{{statistics.percetage(statistics.availability.success) | number:2}}%</span>
                            </div>
                            <div class="col-sm-9">
                                <div class="chart-container statiscis">
                                    <normal-bar-chart data="statistics.normalBars.series" options="statistics.statusClassesBarOptions"></multiline-chart>
                                </div>
                            </div>
                        </div>

                        <div class="row graph">
                            <div class="col-sm-3 legend">
                                <h2>AVG. API RESPONSE TIME</h2>
                                <span class="number" title="Updated about 14 seconds ago">{{statistics.stats.avg | number:0}}ms</span>
                            </div>
                            <div class="col-sm-9">
                                <div class="chart-container statiscis">
                                    <multiline-chart data="statistics.latencyHistogram.series" options="statistics.lineChartOptions"></multiline-chart>
                                </div>
                            </div>
                        </div>

                        <div class="row graph">
                            <div class="col-sm-3 legend">
                                <h2>95TH PERC. API RESPONSE TIME</h2>
                                <span class="number" title="Updated about 14 seconds ago">{{ statistics.percentiles['95.0'] | number:0 }}ms</span>
                            </div>
                            <div class="col-sm-9">
                                <div class="chart-container statiscis">
                                    <multiline-chart data="statistics.latencyRangeHistogram.series" options="statistics.rangeChartOptions"></multiline-chart>
                                </div>
                            </div>
                        </div>

                        <div class="row graph">
                            <div class="col-sm-3 legend">
                                <h2>FAILURE RATE</h2>
                                <span class="number" title="Updated about 14 seconds ago">{{statistics.percetage(statistics.availability.exception) | number:2}}%</span>
                            </div>
                            <div class="col-sm-9">
                                <div class="chart-container statiscis">
                                    <normal-bar-chart data="statistics.normalBars.series" options="statistics.statusClassesBarOptions"></multiline-chart>
                                </div>
                            </div>
                        </div>

                        <div class="row graph">
                            <div class="col-sm-3 legend">
                                <h2>EXCEPTION PERCENTAGE</h2>
                                <span class="number" title="Updated about 14 seconds ago">{{statistics.percetage(statistics.availability.serverError) | number:2}}%</span>
                            </div>
                            <div class="col-sm-9">
                                <div class="chart-container statiscis">
                                    <tree-map data="statistics.codeStats"></tree-map>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab ng-controller="TransferStatisticsCtrl as statistics" ng-click="statistics.init(method)" select="datePicker.show=true" deselect="datePicker.show=false">
                        <tab-heading>
                            <i class="fa fa-line-chart"></i> Statistics
                        </tab-heading>

                        <div class="row graph">
                            <div class="col-sm-3 legend">
                                <h2>TOTAL. BYTES OUT</h2>
                                <span class="number">{{statistics.stats.sum | humanize}}b</span>
                            </div>
                            <div class="col-sm-9">
                                <div class="chart-container statiscis">
                                    <multiline-chart data="statistics.dataHistogram.series" options="statistics.lineChartOptions"></multiline-chart>
                                </div>
                            </div>
                        </div>
                        <div class="row graph">
                            <div class="col-sm-3 legend">
                                <h2>AVG. BYTES OUT</h2>
                                <span class="number">{{statistics.stats.avg | number:0 }}b</span>
                            </div>
                            <div class="col-sm-9">
                                <div class="chart-container statiscis">
                                    <multiline-chart data="statistics.dataRangeHistogram.series" options="statistics.rangeChartOptions"></multiline-chart>
                                </div>
                            </div>
                        </div>

                        <div class="row graph">
                            <div class="col-sm-3 legend">
                                <h2>MAX. BYTES OUT</h2>
                                <span class="number">{{statistics.stats.max | humanize}}b</span>
                            </div>
                            <div class="col-sm-9">
                                <div class="chart-container statiscis"></div>
                            </div>
                        </div>

                        <div class="row graph">
                            <div class="col-sm-3 legend">
                                <h2>MIN. BYTES OUT</h2>
                                <span class="number">{{statistics.stats.min | humanize}}b</span>
                            </div>
                            <div class="col-sm-9">
                                <div class="chart-container statiscis"></div>
                            </div>
                        </div>
                    </tab>
                    <tab ng-controller="MapCtrl as map" ng-click="map.init(method)" select="locationsTabActive = true" select="datePicker.show=true" deselect="datePicker.show=false">
                        <tab-heading>
                            <i class="fa fa-globe"></i> Locations
                        </tab-heading>
                        <div ng-if="locationsTabActive">
                            <vector-map series="map.data"></vector-map>
                            <!-- world-map style="width: 100%; height: 400px;display: block;" data="map.worldMap"></world-map -->
                        </div>
                    </tab>
                    <li class="pull-right">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" ng-show="datePicker.show">
                                <label class="btn btn-sm btn-default" ng-model="datePicker.range" btn-radio="10080" uncheckable>week</label>
                                <label class="btn btn-sm btn-default" ng-model="datePicker.range" btn-radio="1440" uncheckable>day</label>
                                <label class="btn btn-sm btn-default" ng-model="datePicker.range" btn-radio="60" uncheckable>hour</label>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-default" tooltip="Refresh"><i class="fa fa-refresh"></i></button>
                            </div>
                        </div>
                    <li>
                </tabset>
            </div>
        </div>
    </accordion-group>
    <!-- div class="row">
        <div class="col-lg-12 text-center">
            <button class="btn btn-primary">Load More</button>
        </div>
    </div -->
</accordion>


<script type="text/ng-template" id="view_response.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><i class="icon-close"></i></button>
        <h4 class="modal-title"><i class="fa fa-fw fa-code"></i> {{ 'APPLICATION.LOG.VIEW.RESPONSE' | translate }}</h4>
    </div>
    <div class="modal-body">
        <div ui-ace="{mode: 'json', theme:'monokai'}" ng-model="body"></div>
    </div>
</script>
