<button type="button" class="btn btn-default dropdown-toggle">
    <i class="fa fa-clock-o"></i> {{selectedPeriod.name}} <span class="fa fa-angle-down"></span>
</button>
<ul class="dropdown-menu" role="menu">
    <li ng-repeat="period in periods">
        <a href="" ng-click="selectPeriod(period)">
            <i class="fa fa-fw" ng-class="selectedPeriod.name == period.name ? 'fa-check-circle' : 'fa-circle-thin'"></i>{{period.name}}
        </a>
    </li>
    <li class="divider"></li>
    <li class="disabled">
        <a href="" ng-click="selectApi()"><i class="fa fa-fw fa-edit"></i> Custom</a>
    </li>
</ul>
