<div class="row">
    <div class="col-md-12 resource-group">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">

                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle"><i class="fa icon-network"></i> {{selectedApi ? selectedApi.name : 'DASHBOARD.TOOLBAR.FULL-SUMMARY' | translate}} <span class="fa fa-angle-down"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="api in apis"><a href="" ng-click="selectApi(api)"><i class="fa fa-fw" ng-class="selectedApi._id == api._id ? 'fa-check-circle' : 'fa-circle-thin'" ng-style="{'color': api.color}"></i> {{api.name}}</a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="selectApi()"><i class="fa fa-cubes"></i> {{ 'DASHBOARD.TOOLBAR.FULL-SUMMARY' | translate }}</a></li>
                    </ul>
                </div>

                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle">
                        <i class="fa fa-fw fa-clock-o"></i> {{selectedPeriod.name}}
                        <span class="fa fa-angle-down"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="period in periods">
                            <a href="" ng-click="selectPeriod(period)">
                                <i class="fa fa-fw" ng-class="selectedPeriod.name == period.name ? 'fa-check-circle' : 'fa-circle-thin'"></i>{{period.name}}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="disabled">
                            <a href="" ng-click="selectApi()"><i class="fa fa-fw fa-edit"></i> Custom</a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="btn-group pull-right" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle disabled" ><i class="fa fa-cloud-download"></i> {{ 'DASHBOARD.TOOLBAR.EXPORT' | translate }} <span class="fa fa-angle-down"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href=""><i class="fa fa-fw fa-file-excel-o"></i> .csv</a></li>
                    <li><a href=""><i class="fa fa-fw fa-file-pdf-o"></i> .pdf</a></li>
                    <li class="divider"></li>
                    <li><a href=""><i class="icon-network"></i> {{ 'DASHBOARD.TOOLBAR.FULL-SUMMARY' | translate }}</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
