traffic {
    .widget-chart-donut {
        padding: 0px;
        .chart-legend {
            list-style-type: none;
            font-size: 12px;
            font-weight: 300;
            bottom: 10px;
            > li {
                margin-bottom: 5px;
                color: #c0c0;
                span {
                    color: #616D72;
                    color: rgba(0,0,0,.3);
                }
            }
        }
    }
}