<traffic>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-green">
                <div class="stats-icon"><i class="fa fa-area-chart"></i>
                </div>
                <div class="stats-info">
                    <h4>AVG. API RESPONSE TIME</h4>
                    <p>{{traffic.timeStats.avg | number:0 }}ms</p>
                </div>
                <div class="stats-link">
                    <a href="javascript:;">View Detail <i class="fa fa-fw fa-area-chart"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="fa fa-line-chart"></i>
                </div>
                <div class="stats-info">
                    <h4>MAX API RESPONSE TIME</h4>
                    <p>{{traffic.timeStats.max | number:0 }}ms</p>
                </div>
                <div class="stats-link">
                    <a href="javascript:;">View Detail <i class="fa fa-fw fa-area-chart"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-aqua">
                <div class="stats-icon"><i class="fa fa-bar-chart"></i>
                </div>
                <div class="stats-info">
                    <h4>MIN API RESPONSE TIME</h4>
                    <p>{{traffic.timeStats.min | number:0 }}ms</p>
                </div>
                <div class="stats-link">
                    <a href="javascript:;">View Detail <i class="fa fa-fw fa-area-chart"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-black">
                <div class="stats-icon"><i class="fa fa-pie-chart"></i>
                </div>
                <div class="stats-info">
                    <h4>Errors</h4>
                    <p>3,291,922</p>
                </div>
                <div class="stats-link">
                    <a href="javascript:;">View Detail <i class="fa fa-fw fa-area-chart"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- CHARTS -->
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body widget-chart-donut">
                    <donut-chart data="traffic.codeStats" style="width:100%;display:block;"></donut-chart>
                    <ul class="chart-legend">
                        <li ng-repeat="code in traffic.codeStats">
                            <i class="fa fa-fw fa-circle-o"></i> {{code.value}} <span>{{code.name}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Total bytes transferred</h3>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
    <!-- CHARTS -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <tabset ng-model="mytabs">
                <tab>
                    <tab-heading>
                        <i class="fa fa-gears"></i> By API
                    </tab-heading>
                </tab>
                <tab>
                    <tab-heading>
                        <i class="fa fa-gears"></i> By IP
                    </tab-heading>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                        </div>
                    </div>
                </tab>
                <tab>
                    <tab-heading>
                        <i class="fa fa-gears"></i> By Target URL
                    </tab-heading>
                </tab>
                <tab>
                    <tab-heading>
                        <i class="fa fa-gears"></i> By User Agent
                    </tab-heading>
                </tab>
                <tab>
                    <tab-heading>
                        <i class="fa fa-gears"></i> By Verb
                    </tab-heading>
                </tab>
            </tabset>
        </div>
    </div>

    <!-- CHARTS -->
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Error Rate</h3>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
        <div class="col-md-9 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Total Errors</h3>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
    <!-- CHARTS -->
</traffic>
