traffic {
    .widget-chart-donut {
        padding: 0px;
        .chart-legend {
            list-style-type: none;
            font-size: 12px;
            font-weight: 300;
            bottom: 10px;
            > li {
                margin-bottom: 5px;
                color: #c0c0;
                span {
                    color: #616D72;
                    color: rgba(0,0,0,.3);
                }
            }
        }
    }
    .splited {
        border: 1px solid @table-border-color;
        border-radius: @border-radius-base;
        //padding-left:  (@grid-gutter-width / 2);
        //padding-right: (@grid-gutter-width / 2);
        margin: 0px;
        .left {
            width: 70%;
            float: left;
        }
        .right {
            width: 30%;
            float: left;
        }
    }
    donut-chart {
        background-color: transparent;
        font: 10px sans-serif;
        text-shadow: none;
        width: 100%;
        text-align: center;
        -webkit-transition: all 0.25s ease-in-out;
        .total{
            font-size: 18px;
            font-weight: bold;
        }
        .units{
            fill: #AAA;
            font-size: 12px;
            font-weight: bold;
        }
        .label{
            fill: #CCC;
            font-size: 12px;
            font-weight: bold;
        }
        text {
            font-weight: lighter;
        }
        .value{
            font-size: 12px;
            fill: #ccc;
        }
        .slice {
            -webkit-transform: scale(1);
            .transition(all 0.1s ease-in-out);
            &:hover {
                -webkit-transform: scale(1.025);
            }
        }
    }
    .tab-content {
        padding: 10px;
        border: 1px solid;
        border-top: none;
        border-color: @nav-tabs-border-color;
    }
}