.dashboard-tile {
    background-color: #fff;
    color: #555;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 3px;
    &.tile-default {
        border: 1px solid #ddd;
        background-color: #fafafa;
    }
    &.tile-turquoise {
        background-color: #1abc9c;
        color: #fff;
    }
    &.tile-red {
        background-color: #e84c3d;
        color: #fff;
    }
    &.tile-blue {
        background-color: #3598db;
        color: #fff;
    }
    &.tile-purple {
        background-color: #9a59b5;
        color: #fff;
    }
    &.detail {
        position: relative;
        overflow: hidden;
        .icon {
            position: absolute;
        }
    }
    &.header {
        position: relative;
        overflow: hidden;
        .content {
            padding: 10px 20px;
            background: 0 0;
            padding-right: 10px;
            display: inline-block;
            position: relative;
            z-index: 5;
        }
        .icon img {
            opacity: .8;
            display: block;
            float: right;
            height: 80px;
            margin-bottom: 10px;
            padding-left: 15px;
            padding-top: 10px;
            position: absolute;
            right: 10px;
            top: 50px;
            width: 80px;
        }
    }
    .header {
        border-bottom: 2px solid rgba(255,255,255,.2);
        .title {
            display: inline-block;
            font-size: 14px;
            font-weight: 400;
            padding: 5px;
            position: absolute;
            text-transform: uppercase;
            top: 7px;
        }
    }
    .content {
        padding: 10px;
        p {
            margin-bottom: 0;
            padding: 10px;
            font-weight: 100;
            font-size: 14px;
            clear: both;
        }
        h1 {
            margin: 0;
            font-weight: 300;
            font-size: 40px;
            padding: 8px;
        }
    }
    &.detail {
        .content {
            background: 0 0;
            padding: 10px 10px 13px;
            display: inline-block;
            position: relative;
            z-index: 5;
        }
        .icon {
            display: block;
            float: right;
            height: 80px;
            margin-bottom: 10px;
            padding-left: 15px;
            padding-top: 10px;
            width: 80px;
            right: 40px;
            bottom: 9px;
            i {
                color: rgba(0,0,0,.05);
                font-size: 85px;
                line-height: 65px;
            }
        }
    }
    &.sm {
        .content {
            padding: 0px;
            h1 {
                padding: 0px;
            }
            p {
                padding: 0px;
            }
        }
        .icon {
            padding-left: 15px;
            padding-top: 10px;
            margin-bottom: 0px;
            right: 15px;
            bottom: 0px;
        }
    }
}

