<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars fa-2"></i>
    </button>
    <button ng-show="user"  menu-toggle class="navbar-brand navbar-menu"><i class="fa fa-bars fa-2"></i></button>
    <h3 class="navbar-product" href="#/main/home"><img class="logo" src="assets/images/logo.png" /><a ui-sref="main.home"><strong>APICATUS</strong></a> <i class="icon-arrow"></i> {{pageTitle}}</h3>
</div>
<ul class="collapse navbar-collapse navbar-ex1-collapse nav navbar-nav navbar-right navbar-user">
    <li ng-show="user" class="dropdown user-dropdown">
        <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown" ng-model="user">{{user.username}} <i class="arrow fa fa-angle-right fa-rotate-90"></i> <img ng-src="{{user.avatar || 'https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120'}}"/> <span class="inbox-alert badge bk-red">2</span></a>
        <ul class="dropdown-menu">
            <!-- li role="presentation" class="dropdown-header">Projects</li -->
            <li role="menuitem" ng-repeat="project in projects" class="project" ng-class="{active: project.isActive}"><a href=""><i class="fa fa-fw" ng-class="project.isActive ? 'fa-dot-circle-o':'fa-circle-o'"></i> {{project.name}}</a></li>
            <li role="menuitem"><a ui-sref="main.profile"><i class="icon-user fa-fw"></i> Profile</a></li>
            <li role="menuitem"><a ui-sref="main.inbox"><i class="icon-inbox fa-fw"></i> Inbox <span class="badge bk-red pull-right">7</span></a></li>
            <li role="menuitem"><a ui-sref="main.logout"><i class="fa fa-power-off fa-fw"></i> Log Out</a></li>
            <li role="menuitem" class="secondary"><a ui-sref="main.settings"><i class="icon-params fa-fw"></i> Settings</a></li>
        </ul>
    </li>
</ul>
<div ng-show="user" class="container">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav closed" ng-model="menu">
            <li class="close-menu"><button menu-toggle class="menu-close pull-right"><i class="icon-close"></i></button></li>
            <li><a ui-sref="main.applications.list"><i class="icon-network"></i> {{ 'SIDEBAR.APIS' | translate }}</a></li>
            <li class="dropdown">
                <a ui-sref="main.applications.list" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-dashboard"></i> {{ 'SIDEBAR.INSPECTOR' | translate }} <b class="fa fa-angle-down"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-signal fa-fw"></i> Traffic</a></li>
                    <li><a href="#"><i class="fa fa-globe fa-fw"></i> Demographics</a></li>
                    <li><a href="#"><i class="fa fa-random fa-fw"></i> Content</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="secondary"><a href="#"><i class="icon-help fa-fw"></i> {{ 'SIDEBAR.HELP' | translate }}</a></li>
            <li class="secondary"><a href="#"><i class="icon-about fa-fw"></i> {{ 'SIDEBAR.ABOUT' | translate }}</a></li>
        </ul>

        <!-- div class="navbar-range">
            <div class="date-container">
                <date-range id="reportrange" class="reportrange" type="daterange" ng-model="dateRange" format="D/M/YYYY">
                    <i class="calendar icon-calendar"></i>
                    <span class="date">00/00/0000 - 00/00/0000</span><button><i class="arrow icon-chevron fa-rotate-90"></i></button>
                </date-range>
            </div>
        </div -->
    </div>
</div>