<geo ng-if="geo.hasData">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body" style="padding:5px;">
                    <!-- vector-map series="geo.map"></vector-map -->
                    <world-map data="geo.map" options="geo.mapOptions"></world-map>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-flag-o"></i> Regions</div>
                    <table class="table table-bordered table-striped table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Country</th>
                                <th class="text-right">Calls</th>
                                <th class="text-center">Sessions %</th>
                                <th class="text-right">Avg Response Time</th>
                                <th class="text-right">Max Response Time</th>
                                <th class="text-right">Min Response Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="region in geo.statistics">
                                <td><img ng-src="https://cdn.rawgit.com/maggiben/iso-country-flags/master/svg/country-4x3/{{region.key}}.svg" class="flag"> {{region.name}}</td>
                                <td class="text-right">{{region.doc_count}}</td>
                                <td>
                                    <progressbar class="progress-flat" max="geo.maxCountries" value="region.doc_count" type="primary"></progressbar>
                                    <!-- inline-pie-chart data="[region.doc_count, geo.maxCountries]" options="{height: '16px'}"></inline-pie-chart -->
                                </td>
                                <td class="text-right">{{region.stats.avg | number:0}}ms</td>
                                <td class="text-right">{{region.stats.max | number:0}}ms</td>
                                <td class="text-right">{{region.stats.min | number:0}}ms</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-language"></i> Languages</div>
                    <table class="table table-bordered table-striped table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Language</th>
                                <th>Locale</th>
                                <th>Calls</th>
                                <th>Sessions %</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="language in geo.languages">
                                <td>{{language.language}}</td>
                                <td>{{language.locale}}</td>
                                <td>{{language.doc_count}}</td>
                                <td><progressbar class="progress-flat" max="geo.maxLanguages" value="language.doc_count" type="primary"></progressbar></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</geo>
<geo ng-if="!geo.hasData">
    <div class="page-header">
        <h1 ng-model="account"><i class="fa fa-exclamation-triangle"></i> No data for your API <small>{{selectedApi.name}}</small></h1>
    </div>
</geo>
