<technology>
    <div class="row">
        <div class="col-md-3 col-sm-6" ng-repeat="(key, value) in technology.platforms">
            <div class="widget widget-stats" ng-class="value.class">
                <div class="stats-icon stats-icon-lg">
                    <i class="fa fa-fw" ng-class="value.icon"></i>
                </div>
                <div class="stats-title">{{key}} SESSIONS</div>
                <div class="stats-number">{{value.value | number}}</div>
                <progressbar class="stats-progress" max="technology.maxDeviceTypes" value="value.value"></progressbar>
                <div class="stats-desc">Better than last week {{(value.value / technology.maxDeviceTypes) * 100 | number:0}}%</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <tabset>
                <tab>
                    <tab-heading>
                        <i class="fa fa-globe"></i> GeoMap
                    </tab-heading>
                    <div class="row">
                        <div class="col-md-8">
                            <vector-map series="technology.worldMap" style="width:100%;height:350px;display:block;"></vector-map>
                        </div>
                        <div class="col-md-4">
                            <donut-chart data="technology.deviceTypeSplit" style="width:100%;height:350px;display:block;"></donut-chart>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-8 col-md-4 text-center">
                            <span class="label label-sm" ng-repeat="deviceType in technology.deviceTypeSplit" style="margin-right: 10px;" ng-style="{'background-color': deviceType.color}" ng-click="technology.setVisible(true)"><i class="fa fa-fw" ng-class="deviceType.icon"></i> {{deviceType.name}}</span>
                        </div>
                    </div>
                </tab>
                <tab>
                    <tab-heading>
                        <i class="fa fa-gears"></i> Agents
                    </tab-heading>
                    <!-- table log-table table-striped table-condensed table-hover -->
                    <table class="table primary-table table-striped table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Browser</th>
                                <th>Calls</th>
                                <th class="text-center">Sessions %</th>
                                <th class="text-right">Avg Response Time</th>
                                <th class="text-right">Max Response Time</th>
                                <th class="text-right">Min Response Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="agent in technology.agents">
                                <td><i class="fa fa-fw zocial-ie"></i> {{agent.key}}</td>
                                <td class="text-right">{{agent.doc_count}}</td>
                                <td>
                                    <progressbar class="progress-flat" max="technology.maxAgents" value="agent.doc_count" type="primary"></progressbar>

                                </td>
                                <td class="text-right">{{agent.stats.avg | number:0}}ms</td>
                                <td class="text-right">{{agent.stats.max | number:0}}ms</td>
                                <td class="text-right">{{agent.stats.min | number:0}}ms</td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination ng-change="logs.pageChanged(logs.currentPage)" total-items="logs.totalItems" ng-model="logs.currentPage" max-size="logs.maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="logs.numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                </tab>
                <tab>
                    <tab-heading>
                        <i class="fa fa-laptop"></i> Devices
                    </tab-heading>
                    <!-- table log-table table-striped table-condensed table-hover -->
                    <table class="table primary-table table-striped table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Device</th>
                                <th>Calls</th>
                                <th class="text-center">Sessions %</th>
                                <th class="text-right">Avg Response Time</th>
                                <th class="text-right">Max Response Time</th>
                                <th class="text-right">Min Response Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="deviceFamily in technology.deviceFamilies">
                                <td><i class="fa fa-fw fa-laptop"></i> {{deviceFamily.key}}</td>
                                <td class="text-right">{{deviceFamily.doc_count}}</td>
                                <td>
                                    <progressbar class="progress-flat" max="technology.maxDeviceFamilies" value="deviceFamily.doc_count" type="primary"></progressbar>
                                </td>
                                <td class="text-right">{{deviceFamily.stats.avg | number:0}}ms</td>
                                <td class="text-right">{{deviceFamily.stats.max | number:0}}ms</td>
                                <td class="text-right">{{deviceFamily.stats.min | number:0}}ms</td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination ng-change="logs.pageChanged(logs.currentPage)" total-items="logs.totalItems" ng-model="logs.currentPage" max-size="logs.maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="logs.numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                </tab>
                <tab>
                    <tab-heading>
                        <i class="fa fa-linux"></i> Operating systems
                    </tab-heading>
                    <!-- table log-table table-striped table-condensed table-hover -->
                    <table class="table primary-table table-striped table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Devices</th>
                                <th>Calls</th>
                                <th class="text-center">Sessions %</th>
                                <th class="text-right">Avg Response Time</th>
                                <th class="text-right">Max Response Time</th>
                                <th class="text-right">Min Response Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="os in technology.oess">
                                <td><i class="fa fa-fw" ng-class="technology.getOsIcon(os.key)"></i> {{os.key}}</td>
                                <td class="text-right">{{os.doc_count}}</td>
                                <td>
                                    <progressbar class="progress-flat" max="technology.maxOess" value="os.doc_count" type="primary"></progressbar>
                                </td>
                                <td class="text-right">{{os.stats.avg | number:0}}ms</td>
                                <td class="text-right">{{os.stats.max | number:0}}ms</td>
                                <td class="text-right">{{os.stats.min | number:0}}ms</td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination ng-change="logs.pageChanged(logs.currentPage)" total-items="logs.totalItems" ng-model="logs.currentPage" max-size="logs.maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="logs.numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                </tab>
            </tabset>
        </div>
    </div>
</technology>
