login {
    .login-form {
        max-width: 380px;
        margin: 0 auto;
        .logo {
            max-width: 120px;
        }
        .panel-body {
            padding: 18px;
        }
    }
    .version-label {
        font-weight: lighter;
    }
    i.fa-spinnerx {
        -webkit-animation: spin 1s linear infinite;
           -moz-animation: spin 1s linear infinite;
                animation: spin 1s linear infinite;
        }
        @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
        @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
        @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}
