<login>
    <div class="row login-form">
        <div class="col-md-12">
            <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="icon-key"></i> Login
                    </h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" ng-submit="submit()">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input type="text" ng-model="username" class="form-control" placeholder="Email" autofocus>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-unlock"></i></span>
                                    <input type="password" ng-model="password" class="form-control" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-6 col-sm-6">
                                <div class="checkbox pull-right">
                                    <label>
                                        <input type="checkbox" ng-model="remember"> Remember me
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <a href="#">Forgot Password</a>
                            </div>
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-primary pull-right" ng-disabled="processing"><i ng-show="processing" class="fa fa-spinner fa-spin"></i> Sign in</button>
                            </div>
                        </div>
                        <a href="http://apicat.us/auth/github">Login with GitHub</a>
                    </form>
                </div>
                <div class="panel-footer"><span class="label label-primary version-label">BETA 1.1</span></div>
            </div>
        </div>
    </div>
</login>
