<div ng-repeat="api in applications.apis | orderBy:sort.property:sort.reverse" ng-controller="CardCtrl as card" ng-init="card.init(api, summaries)" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="stock card" ng-class="{flip: flipped, public: api.public}">
        <div class="front">
            <div class="stock-chart" ng-class="api.enabled ? 'enabled' : 'disabled'" owner="{{api.imOwner}}">
                <!-- bar-chart title="{{title}}" data="applications.data"></bar-chart -->
                <!-- inline-bar-chart data="BarChart.data" options="{height: '100%', width: '100%', fill: ['rgba(255,255,255,0.25)'], stroke: ['rgba(255,255,255,0.5)']}"></inline-bar-chart -->
                <inline-line-chart data="card.barChart.data" options="{height: '100%', width: '100%', fill: ['rgba(255,255,255,0.25)'], stroke: ['rgba(255,255,255,0.5)']}"></inline-line-chart>
                <!-- line-chart title="{{title}}" data="[1,20,30,4,5,66,44,33,22,1,2,4,55]" key="time"></line-chart -->
                <button class="btn api-setup pull-right" ng-click="flipped=!flipped" ng-show="api.imOwner"><i class="fa fa-cogs"></i></button>
                <div class="api-heartbeat"><i class="fa fa-heart"></i></div>
            </div>
            <div class="current-price container">
                <div class="info col-sm-6">
                    <a ui-sref="main.applications.application({id: api._id})" class="title">
                        <span>{{api.name}}</span>
                    </a>
                    <time><i class="fa fa-clock-o"></i> <span>{{api.lastAccess | timeago}}</span></time>
                </div>
                <div class="changes col-sm-6">
                    <div class="value" ng-class="card.summary.current.stats.avg > card.summary.previous.stats.avg ? 'down' : 'up'">{{ card.summary.current.stats.avg - card.summary.previous.stats.avg | number:0}}ms</div>
                    <div class="change"><strong>{{card.percent(card.summary.current.stats.avg, card.summary.previous.stats.avg) | number:0}}</strong><span class="sub">%</span> change</div>
                </div>
            </div>
            <div class="yearly-changes container" ng-show="api.enabled">
                <div class="year-all col-xs-6 col-sm-6">
                    <strong>{{card.summary.current.doc_count - card.summary.previous.doc_count | humanize}}</strong><span>Weekly change</span>
                </div>
                <div class="year-chart col-xs-6">
                    <inline-bar-chart data="card.barChart.data" options="{height: '80%', width: '100%', fill: ['#49c5b1']}"></inline-bar-chart>
                </div>
            </div>
            <div class="summary container">
                <div class="col-lg-6 col-sm-6">
                    <div class="box">
                        <strong>{{ card.summary.current.doc_count | humanize }}</strong><span>requests</span>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="box"><strong>{{ card.summary.current.stats.avg | number:0 }}ms</strong><span>Average</span></div>
                </div>
            </div>
        </div>
        <div class="back">
            <div class="settings panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;"><i class="fa fa-sitemap"></i> {{api.name}}</h4>
                    <div class="btn-group pull-right">
                        <button class="btn btn-sm btn-primary"><i class="fa fa-question-circle"></i></button>
                        <button class="btn btn-sm btn-primary" ng-click="flipped=!flipped"><i class="fa fa-share"></i></button>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form name="apiForm" id="apiForm" role="form" ng-model="api" ng-submit="applications.update(api)">
                                <div class="form-group">
                                    <label for="subdomain">{{ 'APPLICATIONS.NEWAPI.DOMAIN' | translate }}</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="subdomain" name="subdomain" placeholder="{{ 'APPLICATIONS.NEWAPI.SUBDOMAIN' | translate }}" ng-model="api.subdomain" ng-keydown="resetWithCancel($event)", required>
                                        <div class="input-group-addon">.apicat.us</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="proxy">Global Proxy</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="checkbox" ng-model="api.proxy.enabled">
                                        </span>
                                        <input type="text" class="form-control" id="proxy" name="proxy" placeholder="Proxy URL" ng-model="api.proxy.URI">
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <label>{{ 'ENABLE' | translate }}
                                        <input type="checkbox" id="enable" ng-model="api.enabled">
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>{{ 'APPLICATIONS.CARD.LOGGING' | translate }}
                                        <input type="checkbox" id="enable" ng-model="api.logging">
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>Public
                                        <input type="checkbox" id="public" ng-model="api.public">
                                    </label>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-default">{{ 'SUBMIT' | translate }}</button>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-danger pull-right" ng-click="applications.remove(api)"><i class="fa fa-trash-o"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
