/* BACKGROUND COLORS */
.bk-blue {
    background-color: #0266C8;
}
.bk-red {
    background-color: #F90101;
}
.bk-yellow {
    background-color: #F2B50F;
}
.bk-yellow-dark {
    background-color: #e49307;
}
.bk-green {
    background-color: #00933B;
}
.bk-cyan {
    background-color: #11a9cc;
}
.bk-facebook {
    background-color: #3b5998;
}
.bk-twitter {
    background-color: #00acee;
}
/* FOREGROUND COLORS */
.fg-blue {
    color: #0266C8;
}
.fg-red {
    color: #F90101;
}
.fg-yellow {
    color: #F2B50F;
}
.fg-green {
    color: #00933B;
}
.fg-red-dull {
    color: #d73d32;
}
.fg-yellow-dark {
    color: #e49307;
}
.fg-cyan {
    color: #11a9cc;
}
.fg-violet-dark {
    color: #981b48;
}
.fg-violet {
    color: #7e3794;
}
.fg-facebook {
    color: #3b5998;
}
.fg-twitter {
    color: #00acee;
}

.bg-white {
    background: #fff;
}

.bg-silver-lighter {
    background: #f4f6f7;
}

.bg-silver {
    background: #f0f3f4;
}

.bg-silver-darker {
    background: #b4b6b7;
}

.bg-black {
    background: #2d353c;
}

.bg-black-darker {
    background: #242a30;
}

.bg-black-lighter {
    background: #575d63;
}

.bg-grey {
    background: #b6c2c9;
}

.bg-grey-darker {
    background: #929ba1;
}

.bg-grey-lighter {
    background: #c5ced4;
}

.bg-red {
    background: #ff5b57;
}

.bg-red-darker {
    background: #cc4946;
}

.bg-red-lighter {
    background: #ff7c79;
}

.bg-orange {
    background: #f59c1a;
}

.bg-orange-darker {
    background: #c47d15;
}

.bg-orange-lighter {
    background: #f7b048;
}

.bg-yellow {
    background: #e3fa3e;
}

.bg-yellow-darker {
    background: #b6c832;
}

.bg-yellow-lighter {
    background: #e9fb65;
}

.bg-green {
    background: #00acac;
}

.bg-green-darker {
    background: #008a8a;
}

.bg-green-lighter {
    background: #33bdbd;
}

.bg-blue {
    background: #348fe2;}

.bg-blue-darker {
    background: #2a72b5;
}

.bg-blue-lighter {
    background: #5da5e8;
}

.bg-aqua {
    background: #49b6d6;
}

.bg-aqua-darker {
    background: #3a92ab;
}

.bg-aqua-lighter {
    background: #6dc5de;
}

.bg-purple {
    background: #727cb6;
}

.bg-purple-darker {
    background: #5b6392;
}

.bg-purple-lighter {
    background: #8e96c5;
}

.no-bg {
    background: none;
}
