@font-face {
    font-family: 'apicatus';
    src:url('fonts/apicatus.eot?-4h4mwe');
    src:url('fonts/apicatus.eot?#iefix-4h4mwe') format('embedded-opentype'),
        url('fonts/apicatus.woff?-4h4mwe') format('woff'),
        url('fonts/apicatus.ttf?-4h4mwe') format('truetype'),
        url('fonts/apicatus.svg?-4h4mwe#apicatus') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'apicatus';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-users:before {
    content: "\e61e";
}
.icon-hartbeat:before {
    content: "\e61f";
}
.icon-event:before {
    content: "\e600";
}
.icon-icon_12676:before {
    content: "\e601";
}
.icon-globe:before {
    content: "\e609";
}
.icon-pulse:before {
    content: "\e617";
}
.icon-api:before {
    content: "\e61c";
}
.icon-arrow:before {
    content: "\e61b";
}
.icon-logo:before {
    content: "\e60a";
}
.icon-sat:before {
    content: "\e60c";
}
.icon-network:before {
    content: "\e60d";
}
.icon-proxy:before {
    content: "\e60e";
}
.icon-api2:before {
    content: "\e60f";
}
.icon-user:before {
    content: "\e610";
}
.icon-dashboard:before {
    content: "\e611";
}
.icon-stopwatch:before {
    content: "\e612";
}
.icon-close:before {
    content: "\e613";
}
.icon-help:before {
    content: "\e614";
}
.icon-flag:before {
    content: "\e615";
}
.icon-stack:before {
    content: "\e608";
}
.icon-calculate:before {
    content: "\e607";
}
.icon-history:before {
    content: "\e602";
}
.icon-lock:before {
    content: "\e606";
}
.icon-settings:before {
    content: "\e603";
}
.icon-attachment:before {
    content: "\e61d";
}
.icon-console:before {
    content: "\e618";
}
.icon-file-xml:before {
    content: "\e61a";
}
.icon-file-css:before {
    content: "\e619";
}
.icon-key:before {
    content: "\e616";
}
.icon-inbox:before {
    content: "\e604";
}
.icon-params:before {
    content: "\e60b";
}
.icon-data:before {
    content: "\e605";
}

@font-face {
    font-family: 'devices';
    src:url('fonts/devices.eot?e2hrn8');
    src:url('fonts/devices.eot?#iefixe2hrn8') format('embedded-opentype'),
        url('fonts/devices.woff?e2hrn8') format('woff'),
        url('fonts/devices.ttf?e2hrn8') format('truetype'),
        url('fonts/devices.svg?e2hrn8#devices') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    font-family: 'devices';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.device-phone:before {
    content: "\e600";
}
.device-laptop:before {
    content: "\e601";
}
.device-monitor:before {
    content: "\e602";
}
.device-tablet:before {
    content: "\e603";
}
