<applications ng-init="settings.applications = settings.applications || {date: getDate(), showdisabled: false}">
    <div class="row">
        <div class="col-md-12 resource-group">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="newApi()">
                        <i class="icon-network"></i> New API
                    </button>
                    <button type="button" class="btn btn-default" ng-click="import()">
                        <i class="fa fa-cloud-upload"></i> Import
                    </button>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-filter"></i> {{ 'SORT' | translate }} <span class="fa fa-angle-down"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="" ng-click="sortBy('name')"><i class="fa fa-fw" ng-class="sort.property == 'name' ? 'fa-check-circle' : 'fa-circle-thin'"></i> {{ 'NAME' | translate }}</a>
                            </li>
                            <li>
                                <a href="" ng-click="sortBy('activity')"><i class="fa fa-fw" ng-class="sort.property == 'activity' ? 'fa-check-circle' : 'fa-circle-thin'"></i> {{ 'ACTIVITY' | translate }}</a>
                            </li>
                            <li>
                                <a href="" ng-click="sortBy('lastAccess')"><i class="fa fa-fw" ng-class="sort.property == 'lastAccess' ? 'fa-check-circle' : 'fa-circle-thin'"></i> {{ 'DATE' | translate }}</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="" ng-click="showdisabled = !showdisabled">
                                    <i class="fa fa-fw" ng-class="showdisabled ? 'fa-check-square' : 'fa-square-o'"></i> Show disabled
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-default" ng-model="listMode" btn-checkbox>
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-if="!listMode" ng-include="'applications/list/components/card.tpl.html'"></div>
        <div ng-if="listMode" ng-include="'applications/list/components/table.tpl.html'"></div>
    </div>

    <div class="row">
        <div class="col-md-12 resource-group">
            <foot>
                <pagination ng-model="method" total-items="method.logs.length" items-per-page="10" page="currentPage" max-size="10" on-select-page="setPage(page)"></pagination>
            </foot>
        </div>
    </div>
</applications>
