<div class="row graph">
    <div class="col-sm-3 legend">
        <h2>TRANSACTIONS PER MINUTE</h2>
        <span class="number" title="">{{statistics.tpm | number:1}}</span>
    </div>
    <div class="col-sm-9">
        <div class="chart-container statiscis">
            <ng-chart type="scatterplot" data="statistics.scatterplot.series" options="statistics.scatterplotOptions"></ng-chart>
        </div>
    </div>
</div>

<div class="row graph">
    <div class="col-sm-3 legend">
        <h2>TRANSACTIONS COUNT</h2>
        <span class="number" title="">{{statistics.tpmCount | humanize}}</span>
    </div>
    <div class="col-sm-9">
        <div class="chart-container statiscis">
            <ng-chart type="multiline" data="statistics.tpmHistogram.series" options="statistics.lineChartOptions"></ng-chart>
        </div>
    </div>
</div>

<div class="row graph">
    <div class="col-sm-3 legend">
        <h2>AVG. API RESPONSE TIME</h2>
        <span class="number" title="">{{statistics.stats.avg | number:0}}ms</span>
    </div>
    <div class="col-sm-9">
        <div class="chart-container statiscis">
            <ng-chart type="multiline" data="statistics.latencyHistogram.series" options="statistics.lineChartOptions"></ng-chart>
        </div>
    </div>
</div>

<div class="row graph">
    <div class="col-sm-3 legend">
        <h2>95TH PERC. API RESPONSE TIME</h2>
        <span class="number" title="">{{ statistics.percentiles['95.0'] | number:0 }}ms</span>
    </div>
    <div class="col-sm-9">
        <div class="chart-container statiscis">
            <ng-chart type="multiline" data="statistics.latencyRangeHistogram.series" options="statistics.rangeChartOptions"></ng-chart>
        </div>
    </div>
</div>

<div class="row graph">
    <div class="col-sm-3 legend">
        <h2>APP SERVER AVAILABILITY</h2>
        <span class="number" title="">{{statistics.percetage(statistics.availability.success) | number:2}}%</span>
    </div>
    <div class="col-sm-9">
        <div class="chart-container statiscis">
            <normal-bar-chart data="statistics.normalBars.series" options="statistics.statusClassesBarOptions"></ng-bar-chart>
        </div>
    </div>
</div>

<div class="row graph">
    <div class="col-sm-3 legend">
        <h2>FAILURE RATE</h2>
        <span class="number" title="">{{statistics.percetage(statistics.availability.exception) | number:2}}%</span>
    </div>
    <div class="col-sm-9">
        <div class="chart-container statiscis">
            <ng-chart type="multiline" data="statistics.percentBars.series" options="statistics.stackedClasses"></ng-chart>
        </div>
    </div>
</div>

<div class="row graph">
    <div class="col-sm-3 legend">
        <h2>EXCEPTION PERCENTAGE</h2>
        <span class="number" title="">{{statistics.percetage(statistics.availability.serverError) | number:2}}%</span>
    </div>
    <div class="col-sm-9">
        <div class="chart-container statiscis with-padding">
            <tree-map data="statistics.codeStats"></tree-map>
        </div>
    </div>
</div>
