<application>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="createEndpoint()">
                        <i class="fa fa-file-o"></i> New
                    </button>
                    <button ng-if="api.proxy.enabled" type="button" class="btn btn-default" ng-click="record()">
                        <i class="fa fa-circle" ng-class="api.learn ? 'fg-red' : 'fg-green'"></i> Record
                    </button>
                    <button type="button" class="btn btn-default" ng-click="showSource=!showSource" ng-class="{active: showSource}">
                        <i class="fa fa-code"></i> source
                    </button>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sort-alpha-asc"></i> Sort <span class="fa fa-angle-down"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href ng-click="sortBy('name')"><i class="fa fa-fw" ng-class="sort.property == 'name' ? 'fa-check-circle' : 'fa-circle-thin'"></i> {{ 'NAME' | translate }}</a>
                            </li>
                            <li>
                                <a href ng-click="sortBy('method')"><i class="fa fa-fw" ng-class="sort.property == 'method' ? 'fa-check-circle' : 'fa-circle-thin'"></i> {{ 'METHOD' | translate }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="btn-group" ng-hide="!showSource">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="tabs[0].active = true">
                            <i class="fa fa-save"></i> Save
                        </button>
                    </div>
                </div>
                <div class="col-md-2 pull-right">
                    <input type="text" name="search" autocomplete="off" id="id_search" typeahead="endpoint.name for endpoint in api.endpoints | filter:$viewValue | limitTo:8" class="form-control" maxlength="200" placeholder="Search" ng-model="settings.application.query" name="query" ng-master-search>
                    <!-- span class="icon input-group-btn">
                        <i class="fa fa-search"></i>
                    </span -->
                </div>
            </div>
        </div>
    </div>
    <div class="row source-editor" ui-hide="!showSource" ng-controller="SourceCtrl as source" ng-init="source = source.create(api)">
        <div class="col-md-12">
            <div ui-ace="{mode: 'json', theme:'monokai'}" ng-model="source"></div>
        </div>
    </div>
    <div class="row" ng-hide="showSource" ng-repeat="endpoint in api.endpoints | filter: settings.application.query | orderBy: settings.application.orderBy">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1 ng-dblclick="edit=!edit" ng-blur="edit=!edit">
                            <i class="icon-api heading"></i>
                            <input type="text" class="resource-name" ng-model="endpoint.name" ng-disabled="edit" ng-init="edit=true" required>
                            <div class="btn-group btn-group-sm pull-right">
                                <button type="button" class="btn btn-default" ng-click="createMethod(endpoint, $index)"><i class="fa fa-file-o"></i></button>
                                <button type="button" class="btn btn-default" ng-click="editEndpoint(endpoint, $index)"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-default fg-red" ng-click="deleteEndpoint(api.endpoints, $index)"><i class="fa fa-trash-o"></i></button>
                            </div>
                        </h1>
                        <small class="synopsis">{{endpoint.synopsis}}</small>
                    </div>
                </div>
            </div>
            <div ng-include="'applications/application/components/accordion.tpl.html'"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="footer-notes">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-dot-circle-o fa-stack-1x fg-cyan"></i>
                    <i class="fa fa-circle-o fa-stack-1x"></i>
                </span>
                [ API: <strong>{{api.name}}</strong>, Base URL: <strong>http://{{api.subdomain}}.apicat.us ]
            </div>
        </div>
    </div>
</application>

<script type="text/ng-template" id="new_endpoint_modal.html">
    <form name="form" role="form" ng-model="endpoint" ng-submit="submit()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><i class="icon-close"></i></button>
            <h4 class="modal-title">{{ 'APPLICATION.NEWENDPOINT.TITLE' | translate }}</h4>
        </div>
        <div class="modal-body">
            <div class="form-group has-feedback">
                <label for="name">{{ 'APPLICATION.NEWENDPOINT.NAME' | translate }}</label>
                <input type="text" class="form-control" id="name" placeholder="{{ 'APPLICATION.NEWENDPOINT.NAME' | translate }}" name="name" required ng-required="true" ng-model="endpoint.name">
            </div>
            <div class="form-group">
                <label for="synopsis">{{ 'APPLICATIONS.NEWAPI.SYNOPSIS' | translate }}</label>
                <textarea id="synopsis" name="synopsis" class="form-control" rows="3" placeholder="{{ 'APPLICATIONS.NEWAPI.SYNOPSIS' | translate }}" ng-model="endpoint.synopsis"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid" >{{ 'OK' | translate }}</button>
            <button type="button" class="btn btn-danger" ng-click="cancel()">{{ 'CANCEL' | translate }}</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="new_api_modal.html">
    <form role="form" ng-model="method" ng-submit="submit()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><i class="icon-close"></i></button>
            <h4 class="modal-title">{{ 'APPLICATION.NEWMETHOD.TITLE' | translate }}</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="route">{{ 'APPLICATION.NEWMETHOD.ROUTE' | translate }}</label>
                <input type="text" class="form-control" id="route" placeholder="{{ 'APPLICATION.NEWMETHOD.ROUTE' | translate }}" required ng-required="true" ng-model="method.route">
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">{{ 'OK' | translate }}</button>
            <button type="button" class="btn btn-danger" ng-click="cancel()">{{ 'CANCEL' | translate }}</button>
        </div>
    </form>
</script>


<script type="text/ng-template" id="new_method_modal.html">
    <form name="form" role="form" ng-model="method" ng-submit="submit()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><i class="icon-close"></i></button>
            <h4 class="modal-title">{{ 'APPLICATION.NEWMETHOD.TITLE' | translate }}</h4>
        </div>
        <div class="modal-body">
            <div class="form-group has-feedback">
                <label for="name">{{ 'APPLICATION.NEWMETHOD.NAME' | translate }}</label>
                <input type="text" class="form-control" id="name" placeholder="{{ 'APPLICATION.NEWMETHOD.NAME' | translate }}" name="name" required ng-required="true" ng-model="method.name">
            </div>
            <div class="form-group has-feedback">
                <label for="route">{{ 'APPLICATION.NEWMETHOD.ROUTE' | translate }}</label>
                <input type="text" class="form-control" id="route" placeholder="{{ 'APPLICATION.NEWMETHOD.ROUTE' | translate }}" name="route" required ng-required="true" ng-model="method.URI">
            </div>
            <!-- div class="form-group has-feedback">
                <label for="proxy">{{ 'APPLICATION.NEWMETHOD.PROXY' | translate }}</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-model="method.proxy.enabled">
                    </span>
                    <input type="url" id="proxy" class="form-control" ng-model="method.proxy.URI" placeholder="proxy url (http / https)" ng-disabled="!method.proxy.enabled" ng-required="method.proxy.enabled">
                </div>
            </div -->
            <div class="form-group has-feedback">
                <label for="method">{{ 'APPLICATION.NEWMETHOD.METHOD' | translate }}</label>
                <div>
                    <label class="label-select">
                        <span class="custom-dropdown">
                            <select class="form-control custom-dropdown" id="method" ng-model="method.method" ng-options="methods.label as methods.label group by methods.group for methods in httpSettings.methods"></select>
                        </span>
                    </label>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label for="contentType">{{ 'APPLICATION.NEWMETHOD.CONTENTTYPE' | translate }}</label>
                <div>
                    <label class="label-select">
                        <span class="custom-dropdown">
                            <select class="form-control custom-dropdown" id="contentType" ng-model="method.response.contentType" ng-options="contentTypes.label as contentTypes.label group by contentTypes.group for contentTypes in httpSettings.contentTypes">
                                <option></option>
                            </select>
                        </span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="statusCode">{{ 'APPLICATION.NEWMETHOD.STATUSCODE' | translate }}</label>
                <div>
                    <label class="label-select">
                        <span class="custom-dropdown">
                            <select class="form-control custom-dropdown" id="statusCode" ng-model="method.response.statusCode" ng-options="status.id as status.label group by status.group for status in httpSettings.statuses"></select>
                        </span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="synopsis">{{ 'APPLICATIONS.NEWAPI.SYNOPSIS' | translate }}</label>
                <textarea id="synopsis" name="synopsis" class="form-control" rows="3" placeholder="{{ 'APPLICATIONS.NEWAPI.SYNOPSIS' | translate }}" ng-model="method.synopsis"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid" >{{ 'OK' | translate }}</button>
            <button type="button" class="btn btn-danger" ng-click="cancel()">{{ 'CANCEL' | translate }}</button>
        </div>
    </form>
</script>
