application {
    max-width: 960px;
    display: inherit;
    margin: 0 auto;
    .panel-body {
        padding: 38px;
        .tab-content {
            padding: 10px;
            border: 1px solid;
            border-top: none;
            border-color: @nav-tabs-border-color;
        }
        .row {
            margin-bottom: 10px;
        }
    }
    .input-group {
        /*margin-bottom: 10px;*/
    }
}