dashboard {
    .tabbable {
        .tab-content {
            padding: 10px;
            border: 1px solid;
            border-top: none;
            border-color: @nav-tabs-border-color;
        }
    }
    .row {
        margin-bottom: 10px;
    }
    .table {
        tbody {
            tr {
                td {
                    vertical-align: middle;
                }
            }
        }
    }
    .main {
        height: 220px;
        background-color: #000;
    }
}