dashboard {
    .dasboard-toolbar {
        margin-bottom: 20px;
    }
}

.pagination {
    margin: 5px 0px;
}

.widgets {
    margin-left: -(@grid-gutter-width / 4);
    margin-right: -(@grid-gutter-width / 4);
    [class*="col-"] {
        padding-left: (@grid-gutter-width / 4);
        padding-right: (@grid-gutter-width / 4);
    }
}
.widget {
    border-radius: @border-radius-base;
    margin-bottom: 15px;
    color: #fff;
    padding: 15px;
    overflow: hidden;
    &.lighten {
        color: #444;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.065);
        border: 1px solid #dddddd;
        background-image: linear-gradient(155deg, #fefefe 40%, #f8f8f8);
        padding-bottom: 5px;
        padding-top: 5px;
        .stats-link {
            a {
                padding: 10px 15px 15px !important;
                background: rgba(0, 0, 0, 0.02) !important;
                border-top: 1px solid #dddddd;
                opacity: 1 !important;
            }
        }
        .stats-chart {
            display: block;
            margin: 15px -15px -15px;
            padding: 10px 15px 15px;
            border-top: 1px solid #dddddd;
            &.with-progress {
                border: none !important;
            }
            background: rgba(0, 0, 0, 0.02);
        }
        .stats-desc {
            background-color: #fff;
        }
        .stats-progress {
            margin: -10px -15px 12px !important;
            height: 1px !important;
        }
    }
    &.darken {
        color: #fff;
    }
    &.widget-stats {
        position: relative;
        .stats-info {
            h4 {
                text-transform: uppercase;
                font-size: 12px;
                margin: 5px 0;
            }
            p {
                font-size: 24px;
                font-weight: 300;
                margin-bottom: 0;
            }
        }
        .stats-desc, .stats-title {
            text-transform: uppercase;
        }
        .stats-icon {
            font-size: 42px;
            height: 56px;
            width: 56px;
            text-align: center;
            line-height: 56px;
            margin-left: 15px;
            position: absolute;
            right: 15px;
            top: 15px;
            opacity: 0.65;
            text-align: right;
        }
        .stats-link {
            a {
                display: block;
                margin: 15px -15px -15px;
                padding: 7px 15px;
                background: rgba(0, 0, 0, 0.4);
                text-align: right;
                font-weight: lighter;
                text-decoration: none;
                opacity: 0.65;
                color: inherit;
                &:hover, &:focus {
                    background: rgba(0,0,0,.6);
                    opacity: 1;
                }
                i {
                    color: #fff;
                }
            }
        }
        .stats-icon.stats-icon-lg {
            font-size: 52px;
            top: 12px;
            right: 15px;
        }
        .stats-title {
            position: relative;
            opacity: 0.65;
            line-height: 1.1;
            font-size: 12px;
            margin: 2px 0 7px;
        }
        .stats-desc {
            font-weight: 300;
            opacity: 0.65;
            margin-bottom: 0;
            font-size: 1vw;
        }
        .stats-number {
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 10px;
        }
        .stats-progress {
            background: rgba(0,0,0,.2);
            height: 2px;
            margin: 0 -15px 12px;
            .progress-bar {
                box-shadow: none;
            }
        }
    }
}


