<div class="row graph">
    <div class="col-sm-3 legend">
        <h2>TOTAL BYTES OUT</h2>
        <span class="number">{{statistics.stats.sum | humanize}}b</span>
    </div>
    <div class="col-sm-9">
        <div class="chart-container statiscis">
            <ng-chart type="multiline" data="statistics.dataHistogram.series" options="statistics.lineChartOptions"></ng-chart>
        </div>
    </div>
</div>
<div class="row graph">
    <div class="col-sm-3 legend">
        <h2>AVG. BYTES OUT</h2>
        <span class="number">{{statistics.stats.avg | number:0 }}b</span>
    </div>
    <div class="col-sm-9">
        <div class="chart-container statiscis">
            <ng-chart type="multiline" data="statistics.dataRangeHistogram.series" options="statistics.rangeChartOptions"></ng-chart>
        </div>
    </div>
</div>

<div class="row graph">
    <div class="col-sm-3 legend">
        <h2>TOTAL BYTES IN</h2>
        <span class="number">{{statistics.stats.max | humanize}}b</span>
    </div>
    <div class="col-sm-9">
        <div class="chart-container statiscis"></div>
    </div>
</div>

<div class="row graph">
    <div class="col-sm-3 legend">
        <h2>AVG. BYTES OUT</h2>
        <span class="number">{{statistics.stats.min | humanize}}b</span>
    </div>
    <div class="col-sm-9">
        <div class="chart-container statiscis"></div>
    </div>
</div>
