<behavior ng-if="behavior.hasData">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-green">
                <div class="stats-icon"><i class="icon-user"></i>
                </div>
                <div class="stats-info">
                    <h4>UNIQUE USERS</h4>
                    <p>{{behavior.unique.value | number:0 }}</p>
                </div>
                <div class="stats-link">
                    <a href="javascript:;">View Detail <i class="fa fa-fw fa-area-chart"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="fa fa-retweet"></i>
                </div>
                <div class="stats-info">
                    <h4>TRANSACTIONS</h4>
                    <p>{{behavior.calls.value | number:0 }}</p>
                </div>
                <div class="stats-link">
                    <a href="javascript:;">View Detail <i class="fa fa-fw fa-area-chart"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-aqua">
                <div class="stats-icon"><i class="fa fa-bar-chart"></i>
                </div>
                <div class="stats-info">
                    <h4>MIN API RESPONSE TIME</h4>
                    <p>{{behavior.timeStats.min | number:0 }}ms</p>
                </div>
                <div class="stats-link">
                    <a href="javascript:;">View Detail <i class="fa fa-fw fa-area-chart"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-black">
                <div class="stats-icon"><i class="fa fa-pie-chart"></i>
                </div>
                <div class="stats-info">
                    <h4>Errors</h4>
                    <p>3,291,922</p>
                </div>
                <div class="stats-link">
                    <a href="javascript:;">View Detail <i class="fa fa-fw fa-area-chart"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <tabset>
                <tab>
                    <tab-heading>
                        <i class="fa fa-globe"></i> Unique Users
                    </tab-heading>
                    <div class="row">
                        <div class="col-md-12">
                            <ng-chart type="multiline" data="behavior.uniqueHistogram.series" options="behavior.timeChartOptions" hovered="behavior.hover(args)"></ng-chart>
                        </div>
                    </div>
                </tab>
                <tab active="true">
                    <tab-heading>
                        <i class="fa fa-globe"></i> Top Use
                    </tab-heading>
                    <div class="row">
                        <div class="col-md-12">
                            <ng-chart type="packing" data="behavior.methodStats"></ng-chart>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>

    <!-- div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-globe"></i> Unique Users</h3>
                </div>
                <div class="panel-body">
                    <ng-chart type="multiline" data="behavior.uniqueHistogram.series" options="behavior.timeChartOptions" hovered="behavior.hover(args)"></ng-chart>
                </div>
            </div>
        </div>
    </div -->

    <!-- div class="splited">
        <div class="max">
            <tree-map data="behavior.codeStats"></tree-map>
        </div>
    </div -->
    <!-- div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Map Overlay</h3>
                </div>
                <div class="panel-body">
                    <tree-map data="behavior.codeStats"></tree-map>
                </div>
            </div>
        </div>
    </div -->

</behavior>
<behavior ng-if="!behavior.hasData">
    <div class="page-header">
        <h1 ng-model="account"><i class="fa fa-exclamation-triangle"></i> No data for your API <small>{{selectedApi.name}}</small></h1>
    </div>
</behavior>
