<!DOCTYPE html>
<html ng-app="apicatus" ng-controller="AppCtrl" lang="en">
    <head>
        <meta charset="utf-8">
        <title ng-bind="pageTitle"></title>
        <!-- social media tags -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@apicatus">
        <meta name="twitter:title" content="apicatus">
        <meta name="twitter:description" content="SoftWired APIS">
        <meta name="twitter:creator" content="@maggijs">
        <meta name="twitter:image:src" content="https://pbs.twimg.com/profile_images/435133998168154112/MMGILZpn.png">
        <meta property="og:title" content="apicatus" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://bit.ly/apicatus" />
        <meta property="og:image" content="" />
        <meta property="og:description" content=".">

        <link rel="icon" type="image/png" href="assets/images/logo.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-57-precomposed.png">

        <!-- mobile viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- socket.io -->
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>

        <!-- font awesome from BootstrapCDN -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
        <!-- jvectormap -->
        <link rel="stylesheet" rel="stylesheet" media="all" href="//jvectormap.com/css/jquery-jvectormap-2.0.0.css"/>

        <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

        <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script><% }); %>

        <!-- jvectormap -->
        <script src="//jvectormap.com/js/jquery-jvectormap-2.0.0.min.js"></script>
        <script src="//jvectormap.com/js/jquery-jvectormap-world-mill-en.js"></script>

        <script src="//benpickles.github.io/peity/jquery.peity.js"></script>
        
    </head>
    <body ng-class="{open: sideBarOpened}">
        <div id="wrapper" class="wrapper">
            <nav ui-view="navbar" class="navbar primary navbar-fixed-top" role="navigation"></nav>
            <div ui-view="main" class="page-wrapper"></div>
            <footer ui-view="footer" class="hidden"></footer>
        </div>
        <script type="text/javascript">
            // Plugin activation and full site events go here
            $(document).ready(function(){
                $("body").on('click', '#menu-toggle', function(event){
                    var button = $(this);
                    if(button.hasClass('closed')) {
                        button.hide().removeClass("closed");
                        $("#wrapper").addClass("open");
                        $(".side-nav").removeClass("closed");

                    } else {
                        $("#wrapper").removeClass("open");
                        $(".side-nav").addClass("closed");
                        button.addClass("closed");
                    }
                    $(window).trigger('resize');
                });
            });
        </script>
    </body>
</html>
