<!DOCTYPE html>
<html ng-app="apicatus" ng-controller="AppCtrl" lang="en">
    <head>
        <meta charset="utf-8">
        <title ng-bind="pageTitle"></title>
        <!-- social media tags -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@apicatus">
        <meta name="twitter:title" content="apicatus">
        <meta name="twitter:description" content="SoftWired APIS">
        <meta name="twitter:creator" content="@maggijs">
        <meta name="twitter:image:src" content="https://pbs.twimg.com/profile_images/435133998168154112/MMGILZpn.png">
        <meta property="og:title" content="apicatus" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://bit.ly/apicatus" />
        <meta property="og:image" content="" />
        <meta property="og:description" content=".">

        <link rel="icon" type="image/png" href="assets/images/logo.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-57-precomposed.png">

        <!-- mobile viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- socket.io -->
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>

        <!-- font awesome from BootstrapCDN -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
        <!-- jvectormap -->
        <link rel="stylesheet" rel="stylesheet" media="all" href="//jvectormap.com/css/jquery-jvectormap-2.0.0.css"/>

        <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

        <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script><% }); %>

        <!-- jvectormap -->
        <script src="//jvectormap.com/js/jquery-jvectormap-2.0.0.min.js"></script>
        <script src="//jvectormap.com/js/jquery-jvectormap-world-mill-en.js"></script>

        <script>
            /* =========================================================
             * bootstrap-tabdrop.js 
             * http://www.eyecon.ro/bootstrap-tabdrop
             * =========================================================
             * Copyright 2012 Stefan Petre
             *
             * Licensed under the Apache License, Version 2.0 (the "License");
             * you may not use this file except in compliance with the License.
             * You may obtain a copy of the License at
             *
             * http://www.apache.org/licenses/LICENSE-2.0
             *
             * Unless required by applicable law or agreed to in writing, software
             * distributed under the License is distributed on an "AS IS" BASIS,
             * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
             * See the License for the specific language governing permissions and
             * limitations under the License.
             * ========================================================= */
             
            !function( $ ) {

                var WinReszier = (function(){
                    var registered = [];
                    var inited = false;
                    var timer;
                    var resize = function(ev) {
                        clearTimeout(timer);
                        timer = setTimeout(notify, 100);
                    };
                    var notify = function() {
                        for(var i=0, cnt=registered.length; i<cnt; i++) {
                            registered[i].apply();
                        }
                    };
                    return {
                        register: function(fn) {
                            registered.push(fn);
                            if (inited === false) {
                                $(window).bind('resize', resize);
                                inited = true;
                            }
                        },
                        unregister: function(fn) {
                            for(var i=0, cnt=registered.length; i<cnt; i++) {
                                if (registered[i] == fn) {
                                    delete registered[i];
                                    break;
                                }
                            }
                        }
                    }
                }());

                var TabDrop = function(element, options) {
                    this.element = $(element);
                    this.dropdown = $('<li class="dropdown hide pull-right tabdrop"><a class="dropdown-toggle" dropdown href="">'+options.text+' <b class="caret"></b></a><ul class="dropdown-menu"></ul></li>')
                                        .prependTo(this.element);
                    if (this.element.parent().is('.tabs-below')) {
                        this.dropdown.addClass('dropup');
                    }
                    WinReszier.register($.proxy(this.layout, this));
                    this.layout();
                };

                TabDrop.prototype = {
                    constructor: TabDrop,

                    layout: function() {
                        var collection = [];
                        this.dropdown.removeClass('hide');
                        this.element
                            .append(this.dropdown.find('li'))
                            .find('>li')
                            .not('.tabdrop')
                            .each(function(){
                                if(this.offsetTop > 0) {
                                    collection.push(this);
                                }
                            });
                        if (collection.length > 0) {
                            collection = $(collection);
                            this.dropdown
                                .find('ul')
                                .empty()
                                .append(collection);
                            if (this.dropdown.find('.active').length == 1) {
                                this.dropdown.addClass('active');
                            } else {
                                this.dropdown.removeClass('active');
                            }
                        } else {
                            this.dropdown.addClass('hide');
                        }
                    }
                }

                $.fn.tabdrop = function ( option ) {
                    return this.each(function () {
                        var $this = $(this),
                            data = $this.data('tabdrop'),
                            options = typeof option === 'object' && option;
                        if (!data)  {
                            $this.data('tabdrop', (data = new TabDrop(this, $.extend({}, $.fn.tabdrop.defaults,options))));
                        }
                        if (typeof option == 'string') {
                            data[option]();
                        }
                    })
                };

                $.fn.tabdrop.defaults = {
                    text: '<i class="icon-align-justify"></i>'
                };

                $.fn.tabdrop.Constructor = TabDrop;

            }( window.jQuery );
        </script>

    </head>
    <body ng-class="{open: sideBarOpened}">
        <div id="wrapper" class="wrapper">
            <nav ui-view="navbar" class="navbar primary navbar-fixed-top" role="navigation"></nav>
            <div ui-view="main" class="page-wrapper"></div>
            <footer ui-view="footer" class="hidden"></footer>
        </div>
        <script type="text/javascript">
            // Plugin activation and full site events go here
            $(document).ready(function(){
                $("body").on('click', '#menu-toggle', function(event){
                    var button = $(this);
                    if(button.hasClass('closed')) {
                        button.hide().removeClass("closed");
                        $("#wrapper").addClass("open");
                        $(".side-nav").removeClass("closed");

                    } else {
                        $("#wrapper").removeClass("open");
                        $(".side-nav").addClass("closed");
                        button.addClass("closed");
                    }
                    $(window).trigger('resize');
                });
            });
        </script>
    </body>
</html>
