<form name="form" role="form" ng-model="apiModel" ng-submit="submit()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><i class="icon-close"></i></button>
        <h4 class="modal-title"><i class="icon-network"></i> {{ 'APPLICATIONS.EDITAPI.TITLE' | translate }}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="subdomain">{{ 'APPLICATIONS.EDITAPI.SUBDOMAIN' | translate }}</label>
            <div class="input-group">
                <input type="text" class="form-control" id="subdomain" name="subdomain" placeholder="{{ 'APPLICATIONS.EDITAPI.SUBDOMAIN' | translate }}" ng-model="apiModel.subdomain" ng-keydown="resetWithCancel($event)", required disabled>
                <div class="input-group-addon">.apicat.us</div>
            </div>
        </div>
        <div class="form-group">
            <label for="proxy">{{ 'APPLICATIONS.EDITAPI.PROXY' | translate }}</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="checkbox" ng-model="apiModel.proxy.enabled">
                </span>
                <input type="text" class="form-control" id="proxy" name="proxy" placeholder="{{ 'APPLICATIONS.EDITAPI.PROXYURL' | translate }}" ng-model="apiModel.proxy.URI">
            </div>
        </div>
        <div class="form-group">
            <label for="color">{{ 'COLOR' | translate }}</label>
            <div class="input-group">
                <div class="input-group-addon color-picker" ng-style="{'background-color': apiModel.color}">
                    <input type="color" id="color" ng-model="apiModel.color">
                </div>
                <input type="text" class="form-control" id="color" name="color" ng-model="apiModel.color">
            </div>
        </div>
        <div class="checkbox">
            <label>{{ 'ENABLE' | translate }}
                <input type="checkbox" id="enable" ng-model="apiModel.enabled">
            </label>
        </div>
        <div class="checkbox">
            <label>{{ 'APPLICATIONS.CARD.LOGGING' | translate }}
                <input type="checkbox" id="enable" ng-model="apiModel.logging">
            </label>
        </div>
        <div class="checkbox">
            <label>Public
                <input type="checkbox" id="public" ng-model="apiModel.public">
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">{{ 'SUBMIT' | translate }}</button>
        <button type="button" class="btn btn-danger" ng-click="cancel()">{{ 'CANCEL' | translate }}</button>
    </div>
</form>
