<settings>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="profile-cover">
                <div class="profile-details">

                    <div class="profile-box">
                        <img class="avatar img-circle" ng-src="{{user.avatar || 'https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120'}}"/>
                        <h3 class="profile-user">{{user.username}}</h3>
                    </div>


                </div>
                <ul class="social nav nav-pills">
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-gears"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row settings">
        <div class="col-lg-12">
            <tabset>
                <tab active="settings.tabs.profile.active">
                    <tab-heading>
                        <i class="icon-user"></i> Account
                    </tab-heading>
                    <div class="row">
                        <div class="col-md-4">
                            <form role="form" ng-model="user" ng-submit="settings.save(user)">
                                <div class="form-group">
                                    <label for="firstName">Name</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="First name" ng-model="user.name">
                                </div>
                                <div class="form-group">
                                    <label for="lastName">Last name</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="Last name" ng-model="user.lastName">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Email" ng-model="user.email" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <input type="text" class="form-control" id="country" placeholder="Country" ng-model="user.country">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" disabled>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Save</button>
                                    <button type="button" class="btn btn-danger pull-right">Delete</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8">
                            <img class="img-thumbnail pull-right" ng-src="{{user.avatar || 'https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120'}}"/>
                        </div>
                    </div>
                </tab>
                <tab active="settings.tabs.settings.active">
                    <tab-heading>
                        <i class="fa fa-cogs"></i> Settings
                    </tab-heading>
                    <form role="form" ng-model="user" ng-submit="settings.save(user)">
                        <div class="form-group">
                            <label>
                                <input type="checkbox"> Enable Notifications
                            </label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    </form>
                </tab>
                <tab active="settings.tabs.apis.active">
                    <tab-heading>
                        <i class="icon-network"></i> APIS
                    </tab-heading>
                    <table class="table primary-table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Created</th>
                                <th>Enabled</th>
                                <th>Public</th>
                                <th>Logging</th>
                                <th class="text-right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="api in settings.apis">
                                <td>{{api.name}}</td>
                                <td>{{api.created | timeago}}</td>
                                <td><span class="label" ng-class="api.enabled ? 'label-success' : 'label-danger'">{{api.enabled}}</span>
                                </td>
                                <td><span class="label" ng-class="api.public ? 'label-success' : 'label-danger'">{{api.public}}</span>
                                </td>
                                <td><span class="label" ng-class="api.logging ? 'label-success' : 'label-danger'">{{api.logging}}</span>
                                </td>
                                <td>
                                    <div class="btn-group pull-right" dropdown>
                                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                            Action <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Modify</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a href="#">Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </tab>
                <tab active="settings.tabs.inbox.active">
                    <tab-heading>
                        <i class="fa fa-sitemap"></i> Inbox
                    </tab-heading>
                    <table class="table primary-table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>From</th>
                                <th>Subject</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </tab>
            </tabset>
        </div>
    </div>
</settings>
